@CHARSET "UTF-8"; 

.wrap-loading{
position : fixed;
left:0;
right:0;
top:0;
bottom:0;
background: rgba(0,0,0,0.2);
filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');
z-index:99;
}

.wrap-loading div{
position : fixed;
top:50%;
left:50%;
margin-left: -21px;
margin-top: -21px;
z-index: 100;
} 